* {
    padding: 0;
    margin:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

header{
    padding:20px 40px;
    background-color: darkgray;
    display: flex;
    flex-wrap: wrap;
}

header h1{
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
    color: darkgray;
    font-size: 48px;
   
}
header nav{
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
}

header nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}



.stripes {
    background-image: url(../Basic-Portfolio/stripes.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position:relative;
    background-color: lightblue;
    color:darkgray;
    font-size: 16px;
    height: 160px;
}

.stripes h2 {
    
    
    padding:0px;
    
}

main {
    display: flex;
   flex-wrap: wrap;
    font-size: 12px;
    float: right;
}
h2{
    font-size: 24px;
    background-color: white;
    color: darkslateblue;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content{

}
/* Tablet
@media screen and (max-width:992px)
large smartphone
@media screen and (max-width:768px)
small smartphone
@media screen and (max-width:576px)
