* {
    padding: 0;
    margin:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.header{
    padding:20px;
    background-color: darkgray;
    
}

.header h1{
    display: inline-block;
    background-color: lightblue;
    color: darkgray;
    font-size: 48px;
    padding-right: 20px;
    padding-left: 20px;
}
.header nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

.header h2 {
    display: inline-block;
    background-color: lightblue;
    color:darkgray;
    margin-left: 20px;
    padding-top: 20px;
    float: right;
    font-size: 36px;
}

.stripes {
    background-image: url(../Basic-Portfolio/stripes.jpg);
    height: 800px;
}
content{
    background-color: lightgray;
}