* {
    padding: 0;
    margin:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.header{
    padding:20px;
    background-color: darkgray;
    
}

.header h1{
    display: inline-block;
    background-color: lightblue;
    color: darkgray;
    font-size: 48px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom:20px;
}
.header nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}



.stripes {
    background-image: url(../Basic-Portfolio/stripes.jpg);
    height: 160px;
}

.stripes h2 {
    
    background-color: lightblue;
    color:darkgray;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    float: right;
    font-size: 16px;
    
}

main {
    display: flex;
   flex-wrap: wrap;
    font-size: 12px;
    float: right;
}
main header{
    font-size: 24px;
    background-color: white;
    color: darkslateblue;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* Tablet
@media screen and (max-width:992px)
large smartphone
@media screen and (max-width:768px)
small smartphone
@media screen and (max-width:576px)
